<%= form_with url: search_visitors_path, method: :get, local: true do |form| %>
  <div class="align-items-center">
    <%= form.text_field :cpf, placeholder: "Buscar por CPF", class: "rounded-2 border border-2 p-1 border-light-subtle", id: "cpf_search", placeholder: "000.000.000-00", style: "outline: none; transform: translateY(0.1rem);" %>
    <%= form.submit "Buscar", class: "btn btn-dark pl-1 mb-0 fw-semibold" %>
  </div>
<% end %>