<% content_for :title, "Cadastrar Visitante" %>

<div class="container d-flex justify-content-center mt-5">
  <div class="col-md-12 col-lg-10 col-xl-9 p-5 border rounded shadow">
    <h1 class="text-center mb-4">Cadastrar Visitante</h1>

    <div class="text-center mb-4">
      <%= link_to "Voltar para visitantes", visitors_path, class: "btn btn-secondary" %>
    </div>

    <%= render "form", visitor: @visitor %>
  </div>
</div>
