<div class="container d-flex justify-content-center mt-5">
  <div class="card pt-4 px-1 pb-2 border border-opacity-25 rounded-5 shadow-sm" style="max-width: 500px; width: 100%; position: relative;">
    <div class="card-body">
      <%= render @visitor %> 

      <div class="mt-4 text-center d-flex justify-content-around">
        <% if can?(:edit, @visitor) %>
          <%= link_to "Editar", edit_visitor_path(@visitor), class: "w-25 border border-dark border-opacity-10 btn btn-light me-2 fs-5" %>
        <% end %>
        <%= link_to "Voltar", visitors_path, class: "w-25 border border-light border-opacity-10 btn btn-dark fs-5" %>
      </div>
    </div>
  </div>
</div>
