<%= form_with url: search_visits_path, method: :get, local: true do |form| %>
  <div class="container d-flex justify-content-center">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
      <div class="card-body">
        <div class="field mb-3">
          <%= form.label :cpf, "Buscar Visitante por CPF:", class: "form-label" %>
          <%= form.text_field :cpf, class: "form-control" %>
        </div>
        <div class="actions text-center">
          <%= form.submit "Buscar", class: "btn btn-primary w-100" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
