<% content_for :title, "Editar Visita" %>

<div class="container d-flex justify-content-center mt-5">
  <div class="card p-4 shadow" style="max-width: 600px; width: 100%;">
    <div class="card-body">
      <h3 class="text-center mb-4">Editar Visita</h3>

      <%= render "edit_form", visit: @visit %>

      <div class="mt-4 d-flex justify-content-center gap-2">
        <%= link_to "Visualizar Visita", @visit, class: "btn btn-primary" %>
        <%= link_to "Voltar para Visitas", visits_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
