<%= render @visit %>

<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <%= link_to "Voltar para visitas", visits_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
